<!DOCTYPE html>
<html lang="ch_EN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>log-process使用说明</title>
</head>
<body>
<div class="container">
    <h1>log-processs说明书</h1>
    <h2>程序主要功能</h2>
    <table class="table table-hover">
        <thead>
            <tr><th>菜单栏按钮</th> <th>功能</th> </tr>
        </thead>
        <tbody>
            <tr>
                <th>open</th>
                <th>打开文件</th>
            </tr>
            <tr>
                <th>view->web</th>
                <th>在浏览器中显示分子信息</th>
            </tr>
            <tr>
                <th>view->default</th>
                <th>调用系统默认方式打开读取文件</th>
            </tr>
            <tr>
                <th>tools->计算键级</th>
                <th>计算指定原子的键级，自由价以及电荷密度</th>
            </tr>
            <tr>
                <th>tools->挑选轨道</th>
                <th>输入指定原子和轨道序号，将结果导出至excel文件中</th>
            </tr>
            <tr>
                <th>tools->渲染云图</th>
                <th>在浏览器中显示p轨道点云图</th>
            </tr>
            <tr>
                <th>save</th>
                <th>将当前窗口内的信息保存为文本文件</th>
            </tr>
            <tr>
                <th>config</th>
                <th>修改程序的一些配置信息</th>
            </tr>
            <tr>
                <th>help</th>
                <th>展示程序使用说明书</th>
            </tr>
        </tbody>
    </table>
    <h2>自由价计算流程</h2>
    <p>1. 首先在项目路径中找到start.bat，双击运行,如果运行失败，可以在根目录打开命令行，输入python39/python.exe main.py</p>
    <p>2. 程序运行后，点击菜单栏上的open,在弹出的文件选择对话框中选择需要处理的log/out文件</p>
    <p>3. 文件读取完成后，点击tools->计算键级，弹出计算键级自由价子页面</p>
    <p>4. 在子页面中首先输入需要计算的原子序号，然后点击自动获取与目标原子相连的原子，再点击计算键级即可</p>
    <p>5. 在主窗口查看计算结果，包含每个原子与邻接原子的Π轨道，键级以及原子自由价与电荷密度</p>
    <h2>警告</h2>
    <p>1. 在程序中新打开文件时，要重新开启子页面，每个子页面只能计算一个log文件</p>
</div>
</body>
</html>