<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/three.js"></script>
    <script src="../static/js/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>{{data.title}}</title>
</head>
<style>
    body {
        margin: 0;
        overflow: hidden;
    }
</style>

<body>
    <div id="canvas"></div>
    <p hidden="true" id="data">{{data}}</p>
    <script>
        function addBond(x1,y1,z1,x2,y2,z2) {
            var x=(x1+x2)/2
            var y=(y1+y2)/2
            var z=(z1+z2)/2
            id=`${x}-${y}-${z}`
            var length=((x2-x1)**2+(y2-y1)**2+(z2-z1)**2)**0.5
            console.log(length)
            if (centers.indexOf(id)==-1 && length<1.1){ //如果该点位置还没添加过
                console.log(centers)
                var geometry = new THREE.CylinderGeometry(0.1, 0.1, length, 32);
                var material = new THREE.MeshLambertMaterial({ color: 0xd4d6bc });
                var cylinder = new THREE.Mesh(geometry, material);
                cylinder.position.set(x,y,z)
                cylinder.up.x = 1;
                cylinder.up.y = 0;
                cylinder.up.z = 0;
                cylinder.lookAt(x2,y2,z2)
                scene.add(cylinder);
                centers.push(id)
            }
                
        }
        function addLabel(text, x, y, z) {  //加载文字标签函数
            var loader = new THREE.FontLoader();
            var geometry;
            var material = new THREE.MeshBasicMaterial({
                color: '#ff1122',
            });

            loader.load('../static/js/helvetiker_regular.typeface.json', function (font) {
                geometry = new THREE.TextGeometry(text, {
                    font: font,
                    height: 10
                });
                geometry.computeBoundingBox();
                geometry.center()
                var mesh = new THREE.Mesh(geometry, material);
                var scale = 0.0015
                mesh.scale.set(scale, scale, scale);
                //mesh.material.depthTest = false;
                mesh.material.depthTest = false;
                mesh.renderOrder = 1
                mesh.position.set(x, y, z)
                scene.add(mesh)
                texts.push(mesh)
            })
        }
        var atomData = {
            1: { symbol: 'H', color: 0x78e4f5, radius: 0.35 },
            6: { symbol: 'C', color: 0x1d323b, radius: 0.5 },
            7: { symbol: 'N', color: 0x9b89f5, radius: 0.5 },
            8: { symbol: 'O', color: 0x5b42ff, radius: 0.5 }
        }
        function addAtom(type, i, x, y, z) {
            var geometry = new THREE.SphereGeometry(atomData[type].radius, 20, 20);
            var material = new THREE.MeshLambertMaterial({ color: atomData[type].color })
            var ball = new THREE.Mesh(geometry, material)
            ball.name = `${atomData[type].symbol}_${i}`
            ball.position.set(x, y, z)
            scene.add(ball)
            addLabel(`${i}`, x, y, z)
        }
        axios.get('data').then(res => {
            console.log(res)
            var atomPos = res.data.atomPos
            for (let i = 0; i < atomPos.length; i++) {
                var type = atomPos[i][1]
                var x = atomPos[i][3]
                var y = atomPos[i][4]
                var z = atomPos[i][5]
                addAtom(type, i, x, y, z)
            }
            //添加键
            console.log(atomPos)
            for (let i = 0; i < atomPos.length; i++) {
                for (let j = i; j < atomPos.length; j++) {
                    var x1 = atomPos[i][3]
                    var y1 = atomPos[i][4]
                    var z1 = atomPos[i][5]
                    var x2 = atomPos[j][3]
                    var y2 = atomPos[j][4]
                    var z2 = atomPos[j][5]
                    
                    if(i!=j){
                        addBond(x1,y1,z1,x2,y2,z2)
                    }
                    
                }
            }
        }).catch(err => {
            console.log(err)
        })
        // import * as THREE from '../static/js/threeJS/three.module.js'
        // import {Stats} from '../static/js/Stats.js'
        // 文本几何体
        var texts = []
        var centers = []
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        var render = new THREE.WebGLRenderer({ antialias: true });
        render.setClearColor(0xe2d9ff, 1); //设置背景色
        render.setSize(window.innerWidth, window.innerHeight)
        render.sortObjects = true; //让物体根据渲染顺序来渲染
        document.getElementById('canvas').appendChild(render.domElement);
        //
        // 添加坐标轴
        var axes = new THREE.AxesHelper(50);
        scene.add(axes);

        //添加环境光源
        var ambientLight = new THREE.AmbientLight(0xFFFFFF);
        scene.add(ambientLight)
        // 添加点光源
        var spotLight = new THREE.SpotLight(0xFFFFFF)
        spotLight.position.set(-20, 10, -25)
        scene.add(spotLight)
        // 设置相机位置
        camera.position.z = 20

        // 添加控制器
        var controls = new THREE.OrbitControls(camera, render.domElement);//创建控件对象
        // 场景自适应窗口
        window.addEventListener('resize', onWindowResize, false)
        // 加载字体


        // 循环渲染添加控制器后
        function onWindowResize() {
            camera.aspect = window.innerWidth / window.innerHeight
            camera.updateProjectionMatrix();
            render.setSize(window.innerWidth, window.innerHeight)
        }

        function renderScene() {
            requestAnimationFrame(renderScene);
            render.render(scene, camera);
            for (let i = 0; i < texts.length; i++) {
                texts[i].lookAt(camera.position)
            }
        }
        renderScene();

    </script>
</body>

</html>